.create-side {
  position: fixed;
  width: 38%;
  right: 0;
  top: 0;
}
.header {
  height: 45px;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 10px;
  text-align: center;
  background: linear-gradient(to right, #cca6e5, #b65b5b, #c5a373);
}

h3 {
  margin-top: auto;
  margin-bottom: auto;
  align-items: baseline;
  color: white;
  font-family: cursive;
  font-size: x-large;
}
.form {
  flex-direction: column;
  width: 300px;
  padding: 5;
  margin: auto;
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 0px 0px 45px 0px;
  border-radius: 25px;
  transition: all 0.3s;
}
label.fieldDescription {
  box-sizing: border-box;
  text-align: start;
  width: 100%;
  padding: 1px;
  padding-left: 15px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
input {
  box-sizing: border-box;
  width: 50%;
  height: 20px;
  margin: 0 0 1em;
  margin-top: 5px;
  margin-left: 15px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: transparent;
  resize: none;
  outline: none;
  top: 0;
  left: 0;
}
.btnAdd {
  margin-left: 15px;
}
